<%= @category.name %>
<%= form_for([@category, @article]) do |f| %>
    <%= f.label :article_title %>
    <%= f.text_field :article_title %>
    <div class="textFeild"><%= f.label :article_body %></div>
    <%= f.bootsy_area :article_body, rows: 12, cols: 82%><br>
    <%= f.submit %>
<% end %>
