<article class="xviews xarticles xindex">

	<%= link_to "New Article", new_category_article_path %>
	<% if @articles.blank?  && !@category %>
	  <h4>There are no articles containing the term <%= params[:search] %>.</h4>
	<% elsif @category%>
		<%= @category.name %>
		<% @articles.each do | article | %>
			<%= link_to article.article_title, category_article_path(@category, article) %>
		<% end %>
	<% else %>
		<% @articles.each do | article | %>
			<%= link_to article.article_title, article_path(article) %>
		<% end %>
	<% end %>
</article>
